.App {
  font-family: sans-serif;
  text-align: center;
}
canvas {
  width: 100vw;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
}

#ARButton {
  color: black !important;
  border: 1px solid black !important;
}
